@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}
<body>
<h1>Cine</h1>

<div id="primeirinha">
    <h4>Detalhes do filme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div id="segundinha">
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>

    
</body>




<Style>
    body{
        background-color: #1f1e1e;
    }
    h1{
        color: white;
        background-color: #1f1e1e;
    }
    h4{
        color: white;
        background-color: #1f1e1e;
    }
    .row{
        background-color: #1f1e1e;
        color: white;
    }
    #segundinha{
        color: white;
    }
</Style>